/* regole generali pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.container {
    width: 80%;
    margin: 20px auto;
}
/* end regole generali */
/* stile header */
header img {
    width: auto;
    height: 70px;
    padding-right: 20px;
    border-right: 1px solid rgb(196, 196, 196);
}
header nav {
    display: block;
    height: 90px;
    line-height: 90px;
    vertical-align: middle;
}
header nav ul li {
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
}
a {
    text-decoration: none;
    color: #999;
    padding: 10px 3px;
}
/* end stile header */
/* stile main */
/* prima sezione */
#label {
    margin-bottom: 30px;
    position: relative;
    height: 460px;
}
.brightness {
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    z-index: 100;
}
#banner {
    object-fit: cover;
    width: 100%;
    height: 460px;
    border-radius: 10px;
}
#caption {
    color: white;
    width: 50%;
    position: absolute;
    bottom: 70px;
    left: 50px;
}
#caption h2 {
    font-size: 26px;
    font-weight: 500;
}
/* end prima sezione */
/* seconda sezione */
#info {
    padding-bottom: 10px;
}
#info::after {
    content: "";
    display: table;
    clear: both;
}
#leadership {
    margin-bottom: 30px;
}
#leadership h1 {
    font-size: 40px;
}
#leadership span, .col p, #main-content p {
    color: #999;
}
.col {
    width: 20%;
    float: left;

}
.col h3 {
    margin: 20px 0 10px 0;
    font-weight: 600;
}
#colsx .container-img, #coldx .container-img {
    width: 100%;
    height: 200px;
    position: relative;
}
#colsx .container-img img, #coldx .container-img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

#coldx .container-img img {
    object-position: 60% 50%;
}
#main-content{
    float: left;
    width: 56%;
    margin: 0 2%;
}
#main-content h3 {
    margin: 20px 0 10px 0;
    font-weight: 600;
}

#main-content .container-img {
    width: 100%;
    height: 200px;
    position: relative;
}
#main-content img {
    width: 100%;
    border-radius: 10px;
    height: 200px;
    object-fit: cover;
    object-position: 50% 55%;

}

#main-content
/* end seconda sezione */
/* end stile main */
/* stile footer */
footer {
    margin-top: 5px;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
}
footer div {
    height: 50px;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
}
footer div span {
    color: red;
    font-size: 25px;
}
/* end footer */



